.header-container {
  height: 64px;
  background-color: rgb(0, 255, 0);
  margin: 0;
}

.menu-container {
  height: 100%;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.header-logo {
  width: 120px;
  background-color: blue;
}

.img-logo {
  width: 90px;
}

.header-login {
  background-color: purple;
  min-width: 120px;
  height: 100%;
  float: right;
}

.login-app {
  padding: 0 15px;
}

.login-list {
  list-style-type: none;
  display: inline-flex;
}

.login-name {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 15px;
}

.menu-items {
  width: 100%;
  display: inline-flex;
  background-color: rgb(255, 153, 0);
}

.menu-items-mobile {
  display: none;
}

.nav-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.nav-list {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin: 0px 5px 0px 5px;

  font-weight: 600;
  font-size: 14px;
  transition: 1s;
  border-top: 3px solid transparent;
  height: 64px;
}

.nav-link {
  padding: 22px 12px;
  float: left;
  text-decoration: none;

  cursor: pointer;
}

.nav-overlay {
}

.align-item {
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.item-mobile {
  display: none;
}

.account-user {
  background-color: #e7e7e7;
}

.img-app {
  height: 114px;
  background-color: #e7e7e7;
}

.white-color {
  color: white;
}

/* Largura 1290px */

@media only screen and (min-width: 1290px) {
  .menu-container {
    width: 1280px;
    height: 100%;
  }
}

/* Largura 1105px */

@media (max-width: 1105px) {
  .nav-container {
    display: inline-flex;
  }
}

/* Largura 992px */

@media (max-width: 992px) {
  .menu {
    display: unset;
  }
  .header-logo {
    background-color: #2060cc !important;
    padding-bottom: 10px;
    width: 100%;
    height: 55px;
    display: inline-flex;
  }
  .header-login {
    background-color: transparent;
    min-width: unset;
    height: auto;
    float: unset;
  }
  .menu-items {
    display: none;
  }
  .menu-items-mobile {
    width: auto;
    display: inline-flex;
    background-color: unset;
  }
  .nav-container {
    width: 60%;
    height: auto;
    position: fixed;
    top: 64px;
    background-color: #fff;
    min-height: 100%;
    z-index: 3;
    transition: 0.5s;
    overflow-y: auto;
    left: 0;
    text-align: unset;
    display: block;
  }

  .nav-list {
    display: block;
    float: none;
    margin: 0 0 200px 0;
    width: 100%;
  }
  .nav-item {
    border-top: 0 none transparent;
    height: auto;
    float: none;
    border-bottom: 0;
  }

  .nav-link {
    color: #444;
    display: block;
    font-weight: 400;
    padding: 8px 0px 6px 0px;
    font-size: 15px;
    width: 100%;
  }

  .nav-overlay {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 64px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  .align-item {
    align-items: unset;
    justify-content: unset;
    display: inline-flex;
  }

  .item-mobile {
    display: block;
  }
}
